
#playerinfo {
  border:1px solid;
  font-size:30px;
  font-weight:bold;
}

#avgplayerstats {
  border:1px solid;
  font-size:30px;
  font-weight:bold;
}

.bodynav .dropdown-toggle {
  margin-top:9px;
  font-size: 12px;
  width:100;
  border-radius: 1px;
}

.top-buffer {
  padding-top:42px; 
}


.bodynav{
  margin-top:10px;
  padding-top:0px;
  padding-bottom:0px;
  /*border-radius:0px;*/
}


.bodynav .brandtitle {
  font-size:20px;
}

#past_games {
  margin-bottom:200px;
}


.leadcol{
  text-align: center;
  margin-left:20px;
  margin-bottom:20px;
  display:inline-block;
  float:none;
  margin-right:-4px;
}

.table{
  background-color: #f2f2f2;
}

.bord{

    margin-top:10px;
    border: #333 medium solid;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.col_header{
  background-color: #808080;
  margin:15px;
  font-size: 18px;
}

.col_header a{
  color:white;
}


