/*
* Spokane Club Basketball Stats
*/
body{
  font-family:'Lato',sans-serif;
  font-weight:400;
  font-size:15;

}

footer{
  font-family:'Lato',sans-serif;
  font-size:12px;
  text-align:center;
  border:1px solid;

}

.input{
  height:800px;
}

.logo{
  margin-top:15px;
  margin-bottom:15px;
  text-align:center;
}

.navbar{
  padding:20px;
  padding-bottom:0px;
  border-radius:0px;
}

.navbar .navbar-brand{
  font-weight:bold;
  font-size:20px;
}


/* fixes shifting of the page when modal is opened */
.modal {
 overflow-y: auto;
}

.modal-open {
 overflow: auto;
}

